/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5dc;
    font-size: 18px;
    color: #6334bc;
    /* yo:es importante poner el color o es el color por defecto? */
    line-height: 1.2;
    /*  yo: interlineado */
}





/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid gray;
    box-shadow: 0 2px 6px gray;
}

#logo img {
    
    width: 150px;
}

nav {
    width: 100%;

}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
   /*  color: inherit; */
}

.menu-item:hover {
    color:fuchsia; 
    font-weight:bolder;
    font-size: 22px;
    transition: 0.3s;
 }

 .active{
    color:fuchsia; 
    font-weight:bolder;
    font-size: 22px;
    transition: 0.3s;
 }

.seccion {
    min-height: 100vh;
    padding: 16px;
    text-align: center;
}



#foto {
    display: flex;
    justify-content: center;
}

#foto img {

    border-radius: 50%;
    margin-top: 90px;
}



h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

#boton {
    font-size: 20px;
    border-radius: 25px;
    padding: 15px 20px;
    display: inline-block;
    width: 193px;

}

#boton:hover{
    background-color:fuchsia; 
}

h3 {
    font-size: 28px;
    text-align: center;
}

p {
    text-align: center;
    padding: 20px;
}


.altura {
    height: 90px;
}

.fondo-color-fuente {
    background-color: #6334bc;
    color: #f5f5dc;

}

article {
    background-color: rgba(99, 52, 188, 0.2);
    border-radius: 10px;
    padding: 32px 0;
    margin-top: 90px;
}


div {
 
    margin-top: 36px;

}

.rrss {
    width: 40px;


}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Medias Queries */

@media (max-width:767px) {
    body{
        font-size: 16px;
    }

    #menuIcon{
        margin-right: 24px;
    }

    #navBar{
        display: none;
    }

    #navBarMobile{
        width: fit-content;
    }

    .menu-mobile {
        display: none;
    }

    .menu-mobile-active {
        display: block;
    }

    #navBarMobile > ul{
        flex-direction: column;
    }


   
    #foto img {
        width: 35%;
    }

    div {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .rrss {
        margin-right: 24px;
    }

    #darkModeBtn{
        display: none;
        
            }
  

}

@media (min-width:768px) and (max-width:1199px) {

    #menuIcon{
        display: none;
    }
   
    #foto img {
        width: 30%;
    }

    ul {
        justify-content: flex-end;
    }

    li {
        margin-right: 40px;
    }

    div {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

/*desktop*/
@media (min-width: 1200px) {

    #menuIcon{
        display: none;
    }
    #navBarMobile{
        display: none;
    }


    ul {
        justify-content: flex-end;
    }
      

    .bio-cv {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 120px;

    }

    #foto {
        width: 45%;
    }

    #foto img {
        width: 70%;

    }


    li {
        margin-right: 40px;
    }

    #inicio {
        min-height: 50vh;
        display: flex;
        margin-top: 60px;

    }

    .bio-cv h1 {

        font-size: 48px;

    }


    .bio-cv p {
        text-align: left;
        padding-left: 0;
    }

       
    h2 {
        font-size: 32px;

    }

    article {
        margin: 0px 270px;
    }

    div {
        justify-content: center;
    }

    .rrss {
        margin-right: 50px;
    }

    #contacto {
        min-height: 50vh;
        margin-top: 230px;

    }
.dark-mode-body{
    background-color: black;
    color: white;
}
 }